toolbarbutton#alltabs-button {
  -moz-binding: url("./userChrome/userChrome.xml#js");
}

#main-window { background-color: rgba(0,0,0,0.25) !important; -moz-appearance: -moz-win-glass !important; }


#PlacesToolbarItems { /* Bookmarks Bar Text Color */
  color: rgba(255,255,255,0.8) !important;
  text-shadow: rgba(255,255,255,0.6) 0px 0px 4px !important;
}

#about-button {
  color: white !important;
}

.urlbarView {
  top: 10px;
	background-color: rgba(0,0,0,0.4) !important;
	backdrop-filter: blur(10px) !important;
    color: white !important;
    border-top: 1px solid rgba(255,255,255,0.3) !important;
    border-bottom: 1px solid rgba(255,255,255,0.3) !important;
    border-right: 1px solid rgba(255,255,255,0.3) !important;
    border-left: 1px solid rgba(255,255,255,0.3) !important;
    border-radius: 8px;
    box-shadow: 4px 8px 16px 2px rgba(0,0,0,0.24) !important;
}
.urlbarView-row:not([type="tip"])[selected] > .urlbarView-row-inner {
    background: rgba(0,128,255,0.32) !important;
    margin-right: 10px;
  margin-left: 10px;
  border-radius: 6px !important;
}
.urlbarView-body-inner {
    border-top: 0px !important;
}


.tabbrowser-tab::after {
  opacity: 0 !important; 
  }










#urlbar:not(.megabar)[focused="true"] {
  background-color: rgba(255,255,255,0.16) !important;
}

#navigator-toolbox {
    border-bottom: 1px solid rgba(255,255,255,0.16) !important;
}



#nav-bar:not([tabs-hidden="true"]) {
    box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0 rgba(255,255,255,0.24) !important;
    position: relative;
}

#TabsToolbar {
    box-shadow: inset 0px -4px 8px 0px rgba(0,0,0,0.16);
}



toolbar .toolbarbutton-1 {
color: rgba(255,255,255,0.86) !important;
}




#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button {
  fill: white !important;
  color: white !important;
}

/* remove default tab colors */
#TabsToolbar .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabbrowser-tab .tab-background {
  background: unset !important;
  border: unset !important;
}

/* tab border color */
#TabsToolbar .tabbrowser-tab:not(:-moz-lwtheme):not([selected]) .tab-content,
#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
  border-top: 0px solid rgba(255,255,255,.0) !important;
  border-left: 0px solid rgba(255,255,255,.0) !important;
  border-right: 0px solid rgba(255,255,255,.0) !important;
}

/* transparent tabs */
#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content {
  background-image: linear-gradient(to top,rgba(255,255,255,.0),rgba(255,255,255,.2)) !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab .tab-content[selected="true"] {
  background-image: linear-gradient(to top,rgba(255,255,255,.0),rgba(255,255,255,.64)) !important;
}
#TabsToolbar:not(:-moz-lwtheme) .tabs-newtab-button:hover,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  background-image: linear-gradient(to top,rgba(255,255,255,.1),rgba(255,255,255,.3)) !important;
}

#main-window #titlebar-buttonbox .titlebar-button {

                list-style-image: none !important;
                padding: 9px 17px 9px 16px !important;
                transition: background-color linear 100ms !important;
        }

#browser-bottombox, #status-bar, #status-bar > *, #nav-bar, #PersonalToolbar, #addon-bar, #main-window[tabsontop="false"] ,
    #main-window[tabsontop="false"] #PersonalToolbar[collapsed="false"] + #TabsToolbar,
    #main-window[tabsontop="false"] [id^="__customToolbar"]:not([collapsed="true"]) ~ #TabsToolbar
{
  background: transparent !important; -moz-appearance: -moz-win-glass !important;
  color: #FFFFFF !important;
  -moz-appearance: none !important;
}

#urlbar
{
  color: #FFFFFF !important;
  font-weight: normal!important;
  text-shadow: grey 1px 1px 5px !important;
  margin: 0 !important;
}

#urlbar:hover
{
  background: transparent !important; -moz-appearance: -moz-win-glass !important;
  color: #FFFFFF !important;
  text-shadow: #000000 1px 1px 5px !important;
  font-weight: bold!important;
  box-shadow: inset 0px 0px 5em 0px rgba(255,255,255,.5) !important;
}







/* Fix tabs for dark theme */
#TabsToolbar .tabs-newtab-button,
#TabsToolbar .tabbrowser-tab .tab-content {
  background-image: linear-gradient(to top,rgba(255,255,255,.0),rgba(255,255,255,.2)) !important;
}
#TabsToolbar .tabbrowser-tab .tab-content[selected="true"] {
  background-image: linear-gradient(to top,rgba(255,255,255,.0),rgba(255,255,255,.64)) !important;
}
#TabsToolbar .tabs-newtab-button:hover,
#TabsToolbar .tabbrowser-tab:hover .tab-content:not([selected="true"]) {
  background-image: linear-gradient(to top,rgba(255,255,255,.1),rgba(255,255,255,.3)) !important;
}

.tab-label {
text-shadow: 1px 2px 2px rgba(0,0,0,0.32);
}
/* Fix tabs for dark theme */





/* Firefox 77 Fixes */
#urlbar-background, #searchbar {
    background-clip: padding-box;
    border: 1px solid hsla(240,5%,5%,.25);
        border-top-color: rgba(255, 255, 255, 0.32) !important;
        border-right-color: rgba(255, 255, 255, 0.32) !important;
        border-bottom-color: rgba(255, 255, 255, 0.32) !important;
        border-left-color: rgba(255, 255, 255, 0.32) !important;
      background-color: rgba(255,255,255,0.16) !important;
    border-radius: 4px !important;
}

.searchbar-search-button {
    fill: white !important;
}

.urlbar-icon {
    color: white !important;
}

#urlbar[breakout][breakout-extend][open] > #urlbar-background {
    box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: 30px !important;
    padding-block: calc(2px + (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2);
    padding-inline: calc(5px + 2px);
}

#urlbar[breakout][breakout-extend] {
    top: 5px !important;
    left: calc(0px - 0px) !important;
    width: calc(100% + 0 * 0px + 0 * 0px) !important;
    height: 20px !important;
}
/* Firefox 77 Fixes */












/* Firefox ESR Fixes */

#urlbar:not(.megabar):not(:-moz-lwtheme):not([focused="true"]), #urlbar.megabar:not(:-moz-lwtheme):not([focused="true"]) > #urlbar-background {
    color: #FFFFFF !important;
    font-weight: normal !important;
    text-shadow: grey 1px 1px 5px !important;
}

#urlbar:not(:-moz-lwtheme):not([focused="true"]), #urlbar:not(:-moz-lwtheme).hidden-focus, .searchbar-textbox:not(:-moz-lwtheme):not([focused="true"]) {

      color: #FFFFFF !important;
      font-weight: normal !important;
    text-shadow: grey 1px 1px 5px !important;
}


#addonbar {
  background: transparent !important;
}






#browser-bottombox {
    background-color: transparent !important;
}


.browser-toolbar:not(.titlebar-color) {
    background-color: transparent !important;
    background-image: none !important;
}


.toolbar-primary.chromeclass-toolbar.browser-toolbar.customization-target {
  background: transparent !important;
}







